html, body {
    height: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Barlow', sans-serif;
}

header {
    background-color: rgba(0, 0, 0, .2);
}

.nav {
    margin-inline: 2%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.nav > span, h1 {
    display: inline-block;
    justify-content: center;
}

#sidebar-button{
    font-size: 25px;
    cursor: pointer;
    padding-top: 0.65em;
}

#sound {
    visibility: hidden;
    position: absolute;
    z-index: -1;
    padding-left: 0.1em;
}

.fa {
    cursor: pointer;
}

#no-sound {
    visibility: visible;
    position: absolute;
    z-index: 1;
    padding-left: 0.2em;
}

.main-title {
    text-align: center;
}

.icons {
    padding-top: 0.75em;
    cursor: pointer;
    letter-spacing: 1ch;
    font-size: 25px;
    padding-right: 0.5em;
}

.pencil, .bucket-icon {
    transition: ease 1s;
}

.pencil:hover, .bucket-icon:hover {
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
}

/*#rect2:hover, #polyline:hover {*/
/*    transform: rotate(45deg);*/
/*}*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 4rem;
    background-color: #aa8fd8;
}

.sidenav p.title {
    display: block;
    transition: 0.3s;
    text-align: center;
}

.sidenav p:hover {
    color: white;
}

.sidenav > ul {
    list-style: none;
    padding-left: 0;
}

.sidenav > ul > li {
    padding: 0.5rem;
    margin-inline: 1em;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    background-color: white;
    box-shadow: 3px 3px #d16ba5;
}

.sidenav > ul > li.is-active {
    box-shadow: 3px 3px #52cffe;
}

.sidenav > ul > li.is-active:hover {
    box-shadow: 3px 3px #5ffbf1;
}

.sidenav > ul > li:hover {
    cursor: pointer;
    box-shadow: 3px 3px #D12C8A;
    color: #845EC2;
}

.sidenav #sidebar-close {
    color: gray;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 2.25rem;
    margin-left: 50px;
}

video {
    padding-left: 4%;
}

.container {
    margin-inline: auto;
    overflow-x: scroll;
    min-height: 85%;
    padding: 1.5% 0 0 2%;
}

#cards-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 0.85rem;
}

.parent-card {
    flex-shrink: 0;
    padding: 0.5rem 0.5rem;
    background-color: rgba(0, 0, 0, .3);
    border-radius: 0.3rem;
    width: 18.5rem;
    box-shadow: 3px 3px 3px rgba(17, 17, 17, 0.150);
    height: max-content;
}

.card-title {
    font-size: 1.2rem;
}

.item-title {
    font-size: 1rem;
}

.parent-card > ul {
    max-height: 20rem;
    overflow-y: auto;
    padding-left: 0;
    list-style: none;
}

.parent-card > span {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}

.parent-card > ul > li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    background-color: #f3f3f3;
    padding: 0.5rem;
    margin-right: 0.5em;
    margin-bottom: 0.7rem;
    border-radius: 0.5rem;
    box-shadow: 0px 2px rgba(107, 107, 107, 0.63);
}

.parent-card > ul > li > span {
    letter-spacing: 0.7rem;
}

.parent-card > ul > li > p {
    margin: 0;
}

.text-align-center {
    text-align: center;
}

.text-fix {
    word-break: break-all;
    text-overflow: ellipsis;
    margin: 16px 0px;
}

.unselectable {
    user-select: none;
}

input[type="text"] {
    border: none;
    border-bottom: 1px solid black;
    font-size: 1em;
    background-color: transparent;
}

input[type="text"]:focus {
    border: none;
    border-bottom: 1px solid #0079bf;
    outline: none;
}

input[type="text"]::placeholder {
    color: white;
}

.add-card > input[type="text"]:focus {
    border: none;
    border-bottom: 1px solid white;
    outline: none;
}

#add-board-button {
    border: none;
    font-size: 1rem;
    border-radius: 1rem;
    background-color: #d16ba5;
    color: black;
    padding: 0.5em 1em;
    box-shadow: 0px 2px #D12C8A;
}

#add-board-button:hover, #show-frog:hover {
    cursor: pointer;
    color: white;
    box-shadow: 0px 2px white;
}

#add-board-text {
    width:85%;
    color:white;
    z-index: 1;
}


#show-frog {
    border: none;
    font-size: 1rem;
    border-radius: 1rem;
    background-color: #d16ba5;
    color: black;
    padding: 0.5em 1em;
    box-shadow: 0px 2px #D12C8A;
    justify-content: center;
    visibility: visible;
    z-index: 1;
}

#frog {
    visibility: hidden;
}

.plus-button {
    border: none;
    font-size: 1.5em;
    border-radius: 100%;
    background-color: #8aa7ec;
    /*background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);*/
    color: white;
    padding: 0.2em 0.5em;
    cursor: pointer;
}

.plus-button:hover {
    background-color: #aa8fd8;
}

/*header {*/
/*    !*background-color: var(--primary-color-dark);*!*/
/*}*/

.flex-col {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}

.context-menu {
    background: #ebebeb;
    border-radius: 0.2rem;
    box-shadow: 1px 1px 5px rgba(17, 17, 17, 0.200);

    position: fixed;
    z-index: 15;
    width: 150px;
    display: none;

    transform: scale(0);
    transform-origin: top left;
}

.context-menu.visible {
    display: block;
    transform: scale(1);
    transition: transform 200ms ease-in-out;
}

.context-menu ul li {
    cursor: pointer;
    padding-inline: 0.5rem;
    padding-block: 0.2rem;
}

.context-menu ul li:hover {
    background:#d9d9d9;
}

.context-menu ul {
    list-style-type: none;
    padding: 0;
}

#card-context-menu {
    transform: translateX(-140px);
}

@media only screen and (max-width: 1200px) {

    #cards-container {
        flex-direction: column-reverse
    }

    .parent-card {
        width: 100%;
    }

    header {
        max-width: 100vw;
        width: 100%;
        padding: 0 12px;
    }

    .container {
        padding: 24px 12px;
    }
    
    .nav {
        margin-inline: 0;
    }

    #bucket, #sound {
        margin-right: 8px;
        transition: .3s ease-in-out;
    }

    body>.context-menu.visible {
        top: 0;
    }
}